body{
    margin: 0;
    padding-top: 550px;
     text-align: center;
}
.profile{
    border-radius: 50%;
}
#Welcome{
    position: absolute;
    bottom: 0;
    background: cornflowerblue;
    display: table;
    width: 100%;
    height: 100%;

}

h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 300;
}

#name{
    font-size:50px;
    font-family: 'Cedarville Cursive', cursive;
}

h2{
    font-size: 30px;
    font-family: monospace;
    font-weight: 300;
}

#bio {
    font-family: cursive;
    padding: 50px;
}

.line {
    height: 6px;
    background-color: crimson;
    width: 70px;
    margin: 8px auto;
}

a {
    text-decoration:none ;
}
.menu {
    position: fixed;
    background: white;
    width: 100px;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    .links {
        display: inline;
        padding-left:33px;
        padding: right 25px;
        font-family: fantasy;
        font-size: 20px;
    }
    .links:hover {
        font-size:25 px;
        text-decoration:underline;
    }
}
#writings a {
    text-decoration: underline !important;
    color: yellowgreen !important;
}